<div id="edit_mood" ng-condivoller="searchCondivoller" class="container">
	<% if current_user.access == 'admin' %>

<h1>Edit Mood</h1>

<%= form_for @mood do |m| %>
<div class="container">
	<div class= "form-group">
		<div><%= m.label :name %>:<%= m.text_field :name, maxlength: 50, class: 'form-condivol' %><br><br>
		</div>
	</div>
	<div class= "form-group">
		<div>
			<%= m.label :description %><%= m.text_area :description, maxlength: 130, class: 'form-condivol' %><br><br>
		</div>
	</div>
	<div class= "form-group">
		<div>
			<%= m.label :keywords %>:<%= m.text_field :keywords, class: 'form-condivol' %><br>
		</div>
	</div>
	<div class= "form-group">
		<div>
			<%= m.label :category %>:<%= m.collection_select(:category, Category.all, :path, :name, {},class: 'form-condivol') %><br><br>
		</div>
	</div>
	<div class= "form-group">
		<div>
			<%= m.label :photo %>:<%= m.text_field :photo, class: 'form-condivol' %><br>
		</div>
	</div>
	<div class= "form-group">
		<div><%= m.label :days %>:<% Date::DAYNAMES.each do |day| %>
		  <%= check_box_tag "mood[days][]", day, @mood.days.include?(day) %>
		  <%= day %>&nbsp;&nbsp;&nbsp;
		<% end %><br><br>
		</div>
	</div>
	<div class= "form-group">
		<div><%= m.label :dayparts %>:<%= m.collection_select(:dayparts, Daypart.all, :name, :name, {}, class: 'form-condivol') %><br><br>
		</div>
	</div>

	<br><br>

	<div class= "form-group">
		<div><%= m.label :sort %>:</div>
		<div><%= m.radio_button :sort, '0' %> Match&nbsp;&nbsp;&nbsp; <%= m.radio_button :sort, '1' %> Distance&nbsp;&nbsp;&nbsp; <%= m.radio_button :sort, '2' %> Rating</div>
	</div>
</table>
	<%#= m.label :place %><%#= m.collection_select(:place, Place.all, :id, :name) %><br>

	<%= m.submit "Save Changes", class: "btn btn-primary btn-lg"%> or <%= link_to "Cancel changes", moods_path %>
	<br>
	<br>
<% end %>

<% else %>
<br>
Not for your prying eyes!<br>
<br>
<% end %>
</div>
