<h1>Edit <%= @mood.name %></h1>

<%= form_for @moods do |m| %>
	<%= m.label :name %>: <%= m.text_field :name %><br>
	<%= m.label :keywords %>: <%= m.text_field :keywords %><br>
	<%= m.label :category %>: <%= m.text_field :category %><br>
	<%= m.label :days %>: <%= m.text_field :days %><br>
	<%= m.label :time_in %>: <%= m.text_field :time_in %><br>
	<%= m.label :time_out %>: <%= m.text_field :time_out %><br>
	<%= m.label :place %>: <%= m.text_field :place %><br>
	<br>
	<%= m.submit "Save" %>  -  <%= link_to "Delete this mood", @mood, 
		method: :delete, data: { confirm: 'Are you sure you want to delete it?'} %>
<% end %>
<br>

<%= link_to "Back to the list", moods_path %>
