<div id='moods'>
<h1>Moods</h1>

<!-- LIST OF MOODS -->
<ul>
	<% @moods.each do |mood| %>
	
	<li> 
		<%= image_tag mood.photo %> <%= link_to mood.name, mood_path(mood) %> - <%= mood.description %><br>
		 <%= mood.days %>, <%= mood.time_in %> til <%= mood.time_out %>

		<!-- - <%= mood.place.name %> -->

	</li>
	
	<% end %>
</ul>
</div>