<div id='moods'>
<%= link_to "View Places", places_path %><br>

<h1>Moods</h1>

<!-- LIST OF MOODS -->
<ul>
	<% @moods.each do |mood| %>
	<li> 
		<%= image_tag mood.photo %><br>
		<%= link_to mood.name, mood_path(mood) %> - <%= mood.description %>
		<br>
		<br>
	</li>
	
	<% end %>
</ul>

<%= link_to "Add new mood", new_mood_path %>

</div>