<div id="new_mood" ng-controller="searchController" class="container">
<!--Location is: <%= current_user.zip %>-->
<%#= link_to "Back to Moods", moods_path %><br>
<h1>Add a new mood</h1>

<%= form_for @moods do |m| %>
<table>
	<tr class= "form-group">
		<td><%= m.label :name %>:</td><td><%= m.text_field :name, maxlength: 50, ng_model: "name", class: 'form-control' %> {{ 50 - name.length + " chars" }}<br><br>
		</td>
	</tr>
	<tr class= "form-group">
		<td>
			<%= m.label :description %></td><td><%= m.text_area :description, maxlength: 130, ng_model: "description", class: 'form-control' %> {{ 130 - description.length + " chars" }}<br><br>
		</td>
	</tr>
	<tr class= "form-group">
		<td>
			<%= m.label :keywords %>:</td><td><%= m.text_field :keywords, class: 'form-control' %><br>
		</td>
	</tr>
	<tr class= "form-group">
		<td>
			<%= m.label :category %>:</td><td><%= m.collection_select(:category, Category.all, :path, :name, class: 'form-control') %><br><br>
		</td>
	</tr>
	<tr class= "form-group">
		<td>
			<%= m.label :photo %>:</td><td><%= m.text_field :photo, class: 'form-control' %><br>
		</td>
	</tr>
	<tr class= "form-group">
		<td><%= m.label :days %>:</td><td><% Date::DAYNAMES.each do |day| %>
		  <%= check_box_tag "mood[days][]", day %>
		  <%= day %>&nbsp;&nbsp;&nbsp;
		<% end %><br><br>
		</td>
	</tr>
	<tr class= "form-group">
		<td><%= m.label :dayparts%>:</td><td><% Daypart.each do |daypart| %>
		  <%= check_box_tag "mood[dayparts]", daypart.name %>
		  <%= daypart.name.titleize %> &nbsp;&nbsp;&nbsp;
		<% end %><br><br>
		</td>
	</tr>
	<tr class= "form-group">
		<td><%= m.label :sort %>:</td>
		<td><%= m.radio_button :sort, '0' %> Match&nbsp;&nbsp;&nbsp;<%= m.radio_button :sort, '1' %> Distrance&nbsp;&nbsp;&nbsp;<%= m.radio_button :sort, '2', :checked => 'checked' %> Rating</td>
	</tr>
</table>
	<%#= m.label :place %><%#= m.collection_select(:place, Place.all, :id, :name) %><br>
	<br>

	<%= m.submit "Add New Mood", class: "btn btn-primary btn-lg"%>
<% end %>
</div>
