<div id="mood">

<%= link_to "Back to Directory", moods_path %><br>
<br>
<%= image_tag @mood.photo %><br>
<br>
<strong><%= @mood.name %></strong><br>
<%= @mood.description %><br>
<br>
<strong>Recommended Places:</strong><br>
<%#= link_to @mood.place.name, @mood.place(@mood) %><br>
<br>
<strong>Best Days:</strong><br>
<%= @mood.days %><br>
<br>
<strong>Best Time:</strong><br>
<%= @mood.time_in %> til <%= @mood.time_out %><br>

<!-- <%= image_tag @mood.photo %> -->
<br>
<%= link_to "Edit", edit_mood_path %> | <%= link_to "Delete", @mood, 
		method: :delete, data: { confirm: 'Are you sure you want to delete it?'} %>
</div>