<div id="sign-in" class="container">
<% if logged_in? %>
	<p>You are already signed in as <%= current_user.name %>. If you would like to sign in as a different user, please <%= link_to "sign out", log_out_path, method: :delete %>.</p>
<% else %>
<h1>Sign In</h1>

<%= form_for(:session, url: sessions_path) do |f| %>
	<%= f.label :email %> <%= f.text_field :email, class: 'form-control' %>
	<%= f.label :password %> <%= f.password_field :password, class: 'form-control' %>
<br>
	<%= f.submit "Sign In", class: "btn btn-primary btn-lg" %> or <%= link_to "Create New User", signup_path, class: "btn btn-default btn-lg" %>
<% end %>
<% end %>
</div>
<br>