<div id="sign-up">
	<%= form_for @user do |f| %>
		<div class = "form-group">
			<%= f.label :name %><%=@user.errors.messages[:name].join(" AND ") %>
			<%= f.text_field :name, class: 'form-control bottom-buffer' %>
		</div>
		<div class = "form-group">
			<%= f.label :email %><%=@user.errors.messages[:email].join(" AND ") %>
			<%= f.text_field :email, class: 'form-control bottom-buffer' %>
		</div>
		<div class = "form-group">
			<%= f.label :password %><br>
			&nbsp;&#149;&#149;&#149;&#149;&nbsp;<%= link_to "Change password", root_path %>
		</div>
		<div class = "form-group">
			<%= f.label :zip %><%=@user.errors.messages[:zip].join(" AND ") %>
			<%= f.text_field :zip, class: 'form-control bottom-buffer', maxlength: 5 %>
		</div>
		<div class = "form-group">
			<%= f.label :bio %>
			<%= f.text_field :bio, class: 'form-control bottom-buffer', maxlength: 140 %>
		</div>
		<div class = "form-group">
			<%= f.label :radius %>
			<%= f.select :radius, [['I want to bike there','8000'],["I'll take a car if I need to",'16000']], {}, class: 'form-control' %>
		</div>
		<% if logged_in? && current_user.access == "admin" %>
		<div class = "form-group">
			<%= f.label :access %><%= f.select :access, [['Admin','admin'],['User','user']], {}, class: 'form-control' %>
		</div>
		<% end %>
			<% f.text_field :latitude %>
			<% f.text_field :longitude %>
		<div class = "form-group"><%= f.submit "Submit", class: "btn btn-primary btn-lg" %>
		</div>
	<% end %>
</div>