<div id="change-password" class="container">
<h1>Change Password</h1>
	<%= form_for @user do |u| %>
		<%= u.label :password %> 
		<%= u.password_field :password, class: 'form-control bottom-buffer' %>

		<%= u.label :password %> 
		<%= u.password_field :password, class: 'form-control bottom-buffer' %>
		<%= u.submit 'Change Password', class: 'btn btn-primary btn-lg' %>
	<% end %>
</div>