<div id="user" class="container">
	<h1><%= @user.name %></h1>
	<img src="<%= @user.gravatar(@user.email) %>">
	<p><strong>Email: </strong><%= @user.email %></p>
	<p><strong>Zipcode: </strong><%= @user.zip %></p>
	<p><strong>Latest Moods: </strong><%= @user.moods %></p>
	<p><strong>Latest Places: </strong><%= @user.places %></p>
	<%= link_to "Edit Profile", edit_user_path(@user) %>

</div>
