<%#= link_to "Edit your profile", edit_user %>Edit User

<h1><%= current_user.name %></h1>
<p><strong>Email: </strong><%= current_user.email %></p>
<p><strong>Zipcode: </strong><%= current_user.zip %></p>
<p><strong>Latest Moods: </strong><%= current_user.moods %></p>
<p><strong>Latest Places: </strong><%= current_user.places %></p>
