<!-- <p id="demo">Your current coordinates are:</p> 

<script>

var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML="Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;	
}
</script>
-->

<div id="profile" class="container">
	<div class="row">
		<div class="col-md-4"><img class = "avatar" src="<%= @user.gravatar(@user.email) %>?s=250"></div>
		<div class="col-md-8"><h1><%= @user.bio %></h1></div>
	</div>
	<div class="row">
		<div class="col-md-4"><strong><p><%= @user.name %></strong>, <%= current_user.zip.to_s.to_region %></p><%= link_to "Edit Profile", edit_user_path(@user) if current_user.id == @user.id || current_user.access == 'admin' %><br>
		</div>
	  	<div id="profile-separator" class="col-md-8"><p><strong>Latest Moods: </strong><%#= @user.moods %></p>
	  		<%#= current_user.address %>
	  		<%= request.location.inspect %>
	</div>
	</div>
	

</div>
