<%= link_to "View All Searches", searches_path %><br>
<table>
	<tr>
		<th>Terms</th>
		<th>Sort</th>
		<th>Limit</th>
		<th>Category</th>
		<th>Location</th>
		<th>Radius (M)</th>
	</tr>
	<tr>
		<td><%= @search.term %></td>
		<td><%= @search.sort %></td>
		<td><%= @search.limit %></td>
		<td><%= @search.category_filter %></td>
		<td><%= @search.location %></td>
		<td><%= @search.radius_filter %></td>
	</tr>
</table>
<br>

<%#= @search.searchYelp.inspect %><br>
<img src="<%= @search.searchYelp.businesses[0].image_url[0..-7] %>o.jpg"><br>
<strong><%= @search.searchYelp.businesses[0].name %></strong><br>
<img src="<%= @search.searchYelp.businesses[0].rating_img_url_large %>"><br>
<%= @search.searchYelp.businesses[0].location.address.join(",") %><br>
<%= @search.searchYelp.businesses[0].snippet_text %><br>
<a href="<%= @search.searchYelp.businesses[0].url %>">LINK</a>