<style type="text/css">
.home {
	background-image: url(<%= @daypart.photo %>);
	background-repeat: no-repeat;
	background-size: cover;
}
.home:before {
	content: "";
	position: fixed;
	z-index: -1;
	background-image: url(<%= @daypart.photo %>);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 800px;

	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
</style>

<div id="discover" class="container">
	<% if logged_in? %>	
		<h2>It's <%= @day %> <%= @daypart.name %> in <%= link_to current_user.zip.to_s.to_region(:city => true), edit_user_path(current_user) %>. What are you in the mood for?</h2><br> 

<%= current_user.latitude %>, <%= current_user.longitude %>


				<%#= current_user.select :radius, [['I only want walkable places','1000'],['I can hop on a bike','6000'],['Whatever it takes!','10000']], %>

<!-- got rid of the dropdown
				<%#= form_for current_user do |user| %>
				<%#= user.select :radius, [['Show me walkable places','1000'],['I can hop on a bike','6000'],['Whatever it takes!','10000']], {}, class: 'form-control see-through' %>
				<%# end %>				
-->

<!-- LIST OF MOODS -->
	<div class="container center">
		<% Mood.where(days: @day, daypart_ids: @daypart.name).each do |mood| %>
			<%= link_to(discover_path(mood)) do %><div class="mood-choice col-md-3"> 
				<h4><%= mood.name %></h4>
				<p><%= mood.description %></p>

			</div>
			<% end %>
		<% end %>
	</div>
	<br>
		<br>

	<%#= u.text_field :radius, class: 'form-control', maxlength: 5 %>
    <%#= current_user.select :radius, [['I only want walkable places','1000'],['I can hop on a bike','6000'],['Whatever it takes!','10000']], class: 'form-control' %>
		<% else %>
			<div class="welcome-home">Take the decision out of deciding what to do.</div>
			<div class="container form-wrapper">
			<%= render partial: '/sessions/login' %>
			</div>
			<br>
	<% end %>
</div>