<div id="discover" class="container">
	<% if logged_in? %>
			
<h1>It's <%= @day %> <%= @daypart %> in <%= current_user.zip %>, what are you in the mood for?</h1><br>
<%#= link_to 'Change Location', edit_user_path %>


<!-- LIST OF MOODS -->
<ul>
	
	<% @moods.each do |mood| %>
	<% if mood.days.include? @day and if mood.dayparts.include? @daypart %>
	<li> 
		<%= link_to mood.name, mood_path(mood) %> - <%= mood.description %> 
		<br>
		<br>
	</li>
	<% end %>
	<% end %>
	<% end %>

</ul>
<% else %>
<br>
Sorry, bro. You need to <%= link_to "log in", sessions_path %> to see the magic.
<br>
<br>
This is where an About page would go. Lots of info about what Iffy is and how to use it.<br>
<br>
<% end %>

</div>