<style type="text/css">
	.home {
	background-image: url(<%= @daypart.photo %>);
}
.home:before {
  content: "";
  position: fixed;
  z-index: -1;
  
  background-image: url(<%= @daypart.photo %>);
  width: 100%;
  height: 800px;
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
</style>

<div id="discover" class="container welcome">
	<% if logged_in? %>	
		<h2>It's <%= @day %> <%= @daypart.name %> in <%= current_user.zip.to_s.to_region(:city => true) %>. What are you in the mood for?</h2><br>
<!-- why doesn't this work? -->
<%#= link_to 'Change Location', edit_user_path %>

<!-- why doesn't this work? -->
<%#= f.label current_user.radius %> 
    <%#= f.select current_user.radius, [['I only want walkable places','1000'],['I can hop on a bike','6000'],['Whatever it takes!','10000']], class: 'form-control' %>

<!-- LIST OF MOODS -->
	<div class="container">
		<% Mood.where(days: @day, daypart_ids: @daypart.name).each do |mood| %>
			<%= link_to(discover_path(mood)) do %><div class="mood-choice col-sm-3"> 
				<h4><%= mood.name %></h4>
				<p><%= mood.description %></p>

			</div>
			<% end %>
		<% end %>
	</div>
	<br>
	<br>
	<%#= Mood.where(days: "Tuesday").count %><br>





	<%#= u.text_field :radius, class: 'form-control', maxlength: 5 %>
    <%#= current_user.select :radius, [['I only want walkable places','1000'],['I can hop on a bike','6000'],['Whatever it takes!','10000']], class: 'form-control' %>
		<% else %>
			<br>
			<%= render partial: '/about/about' %>
			<br>
	<% end %>
</div>