<!-- style to create dynamic background images -->
<style type="text/css">
.home {
	background-image: url(<%= @daypart.photo %>);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	background-color: #000;
}

.home:before {
	content: "";
	position: fixed;
	z-index: -1;
	background-image: url(<%= @daypart.photo %>);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;

	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
</style>

<!-- script for modal if traveling location is detected -->
<script type="text/javascript">
    $(window).load(function(){
        $('#traveling').modal('show');
    });
</script>

<% if logged_in? %>	
	<div id="discover" class="container">
		<h2>It's <%= @day %> <%= @daypart.name %> in <%= current_user.traveling ? (link_to request.location.city, edit_user_path(current_user)) : (link_to current_user.zip.to_s.to_region(:city => true), edit_user_path(current_user)) %>. What are you in the mood for?</h2>

		<!-- modal to search nearby instead of your home location -->
		<!-- ignore lat/lon if none detected -->
		<% if current_user.latitude != 0 %>
		<!-- if your home city and detected city are different, pop up a modal -->
			<% if request.location.city != current_user.zip.to_s.to_region(:city => true) %>
				<!-- begin modal -->
				<div class="modal fade" id="traveling" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <h4 class="modal-title" id="myModalLabel">Noticed you may not currently be in <%= current_user.zip.to_s.to_region(:city => true) %>. Which area would you like to search?</h4>
				      </div>
				      <div class="modal-body">
				      	<!-- this nearby functionality doesn't work -->
		                <div id="nearby" class="form-group"><%= link_to request.location.city, traveling_path(nearby: "1"), :class => "btn btn-primary form-control taller-buttons" %></div>
		                <div id="home" class="form-group"><%= link_to current_user.zip.to_s.to_region(:city => true), traveling_path(false), :class => "btn btn-default form-control taller-buttons" %></div>
		                <div><p><%= link_to "Update your default location", edit_user_path(current_user) %></p></div>
				      </div>
				    </div>
				  </div>
				</div>
			<% end %>
		<% end %>
		<!-- display available moods -->
		<div class="container center no-underline">
			<!-- if there are moods to display, display them -->
			<%if Mood.where(days: @day, daypart_ids: @daypart.name).length > 0 %>
				<% Mood.where(days: @day, daypart_ids: @daypart.name).shuffle.first(6).each do |mood| %>
					<%= link_to(discover_path(mood)) do %>
					<div class="mood-choice col-md-3"> 
						<div class="<%= mood.category.icon ? (mood.category.icon + ' fa-2x') : ""%>"></div>
						<div class="mood-title"><%= mood.name %></div>
						<div class="mood-description"><%= mood.description %></div>
					</div>
					<% end %>
				<% end %>
			<% else %>
				<p class="welcome">Standby, we're plotting some great new choices to fill your day with awesome.</p>
			<!-- end mood length check -->
			<% end %>
		</div>
<% else %>
	<div class="welcome">Take the decision out of deciding what to do.</div>
	<%= render partial: '/sessions/login' %>
	<!-- end 'discover' div -->
<% end %>
</div>
<!-- deleted an orphaned closing </div> here. might cause problems -->
