<div id="discover" class="container">
	<% if logged_in? %>	
		<h1>It's <%= @day %> <%= @daypart %> in <%= current_user.zip %>, what are you in the mood for?</h1><br>
<!-- why doesn't this work? -->
<%#= link_to 'Change Location', edit_user_path %>

<!-- why doesn't this work? -->
<%#= f.label current_user.radius %> 
    <%#= f.select current_user.radius, [['I only want walkable places','1000'],['I can hop on a bike','6000'],['Whatever it takes!','10000']], class: 'form-control' %>

<!-- LIST OF MOODS -->
	<div class="container">
		<% Mood.where(days: @day, dayparts: @daypart).each do |mood| %>
			<a href="<%= discover_path(mood) %>"><div class="mood-choice col-sm-4"> 
				<h3><%= link_to mood.name, discover_path(mood) %></h3>
				<p><%= mood.description %></p>
			</div></a>
		<% end %>
	</div>
	<%#= Mood.where(days: "Tuesday").count %><br>


	<%#= u.text_field :radius, class: 'form-control', maxlength: 5 %>
    <%#= current_user.select :radius, [['I only want walkable places','1000'],['I can hop on a bike','6000'],['Whatever it takes!','10000']], class: 'form-control' %>
		<% else %>
			<br>
			<%= render partial: '/about/about' %>
			<br>
	<% end %>
</div>