<div id="places">
<%= link_to "View Moods", moods_path %><br>

<h1>Places</h1>

<ul>
	<% @places.each do |p| %>
	<li>
		<strong> <%= link_to p.name, place_path(p) %> </strong> -- <%= p.tip %> <br>
		<%= p.address %><br>
		<%= p.keywords.join(", ") %><br>

		<ul>
			<% p.moods.each do |m| %>

				<li><%= link_to m.name, mood_path(m) %>

			<% end %>
		</ul>

	</li>
	<%= link_to "Edit", edit_place_path(p) %> | <%= link_to 'Yelp', p.url %>
	<br>
	<br>
	<% end %>
</ul>


<%= link_to "Add new place", new_place_path %>
</div>