 <style type="text/css">
	.bg {
	width: 100%;
	background-image: url(<%= asset_path @place.photo %>), linear-gradient(to bottom, #6cab26, #6ceb86);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000;
}

</style>
<div id="place">
<br>
<p class="intro">You should check out:</p>
<%= image_tag @place.rating_stars %>
<h1 class="name"> <%= @place.name %> </h1>
<p class="address"> <%= @place.address %> </p>
<p class="tip"> <%= @place.tip %> </p>

<%= link_to "Back to Directory", places_path %><br>
<%= link_to "Edit", edit_place_path %> | <%= link_to "Delete", @place, 
		method: :delete, data: { confirm: 'Are you sure you want to delete it?'} %>
</div> 