<header>
	<div class="row">
	<a href="/">
		<div id="logo" class="col-lg-1">Iffy</div>
	</a>
		<div id="auth" class="col-lg-8">
			<% if logged_in? %>
				<span class="dropdown">
					<a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html"><%= current_user.name %></a>
					<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
						<li><%= link_to "Profile", user_path(current_user) %></li>
						<li><%= link_to "Settings", edit_user_path(current_user) %></li>
						<li><%= link_to "Sign out", log_out_path, method: :delete %></li>
						<!-- admin nav -->
						<hr>
						<% if current_user.access == 'admin' %>
					    <li><a href="/moods" style="color: red">Moods Admin</a></li>
						<li><a href="/users" style="color: red">Users Admin</a></li>
						<li><a href="/categories" style="color: red">Categories Admin</a></li>
						<% end %>
					</ul>
				</span>
			<% else %>
				<%= link_to "Log in", sessions_path %>				
			<% end %>
		</div>
	</div>
	<% if logged_in? %>
	<!-- display recent moods -->
	<div id="recent" class="container">
		Recent<% current_user.moods.order("created_at desc").take(3).each do |mood| %>&nbsp;|&nbsp;
		<%= link_to truncate(mood.name, length: 40, separator: ' '), discover_path(mood) %> <!--&nbsp;|&nbsp;-->
		<% end %>
	</div>
	<% end %>
</header>
