<!DOCTYPE html>
<html ng-app="iffyApp">
	<head>
	  <title>Iffy</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<link href="/public/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'> 
	</head>
	<body class="<%= @discover  ? 'bg' : @home  ? 'home' : '' %>">
		<div id="wrap">
			<!-- header -->
			<%= render partial: '/layouts/header' %>
			<!-- end header -->
			<div id="alert">
				<% if flash[:error] %>
					<div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><%= flash[:error] %>
					</div>
				<% end %>
				<div id="main">
					<!-- dynamic content -->
					<%= yield %>
				</div>
			</div>
			<!-- footer -->
			<%= render partial: '/layouts/footer' %>
			<!-- end footer -->
		</div>
	</body>
</html>
