<!DOCTYPE html>
<html ng-app="iffyApp">
	<head>
	  <title>Iffy</title>
		  <%= stylesheet_link_tag    "application", media: "all" %>
		  <%= javascript_include_tag "application" %>
		  <%= csrf_meta_tags %>
	</head>
<body class="<%= @discover  ? 'bg' : '' %>">
	<header>
		<a href="/"><div id="logo">Iffy</div></a>
		<div class="nav">
			<ul>
				<% if logged_in? and current_user.access == 'admin' %> 
				<li><a href="/moods">All Moods</a></li>
				<li><a href="/users">All Users</a></li>
				<li><a href="/categories">All Categories</a></li>
				<% end %>
			</ul>
		</div>
		<div id="auth">
			<% if logged_in? %>
			<%= link_to current_user.email, user_path(current_user) %> | <%= link_to "Sign out", log_out_path, method: :delete %>
			<% else %>
			<%= link_to "Log in", sessions_path %>
			<% end %>
		</div>
	</header>
<!--
	<body class="<%#= @place  ? 'bg' : '' %>" onload="getLocation()">
-->

	<div ng-view>
		<% if flash[:error] %>
			<div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><%= flash[:error] %>
			</div>
		<% end %>

		<%= yield %>
		
	</div>
<footer>
	<div id="left-footer">
		<ul class="list-unstyled">
			<li>&copy; 2014 Iffy All Rights Reserved</li>
			<li>FAQ</li>
			<li>Developers</li>
		</ul>
	</div>
	<div id="right-footer">
		<ul class="list-unstyled">
			<li>About Iffy</li>
			<li>Terms &amp; Conditions</li>
			<li>Contact</li>
		</ul>
	</div>
</footer>
</body>
</html>
