<!DOCTYPE html>
<html ng-app="iffyApp">
	<head>
	  <title>Iffy</title>
		  <%= stylesheet_link_tag    "application", media: "all" %>
		  <%= javascript_include_tag "application" %>
		  <%= csrf_meta_tags %>
	</head>
<body class="<%= @place  ? 'bg' : '' %>">
<!--
	<body class="<%#= @place  ? 'bg' : '' %>" onload="getLocation()">
-->


	
	<div ng-view>
		<%= flash[:error] %>
		<%= yield %>
	</div>

</body>
</html>
